[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "*"
anyio = "*"
boto3 = "*"
botocore = "*"
click = "*"
colorama = "*"
h11 = "*"
idna = "*"
jmespath = "*"
pydantic = "*"
pydantic-core = "*"
python-dateutil = "*"
python-dotenv = "*"
s3transfer = "*"
six = "*"
sniffio = "*"
starlette = "*"
typing-extensions = "*"
urllib3 = "*"
uvicorn = "*"
fastapi = {extras = ["standard"], version = "*"}
pydantic-settings = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.13"
